
body{font-family: "Helvetica", Arial, sans-serif !important;}
/* The container */
/*.container1{
	margin-left:120px
}*/
.radio-container {
	margin-top:5px;
  	display: inline-block;
  	position: relative;
  	max-width:35px;
  	padding-left: 35px;
  	margin-bottom: 15px;
  	cursor: pointer;
  	font-size: 15px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	padding-top:2px;
  	vertical-align:top;
}


/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Customize the label (the container) */
.container {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.chek-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .chek-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .chek-checkmark{
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.chek-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .chek-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .chek-checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/******Feedback Area Footer******/
.feedBackArea{
    background-color:#007c85;
    color:#FFFFFF;
    margin:auto -8px;
    padding:10px 15px;
}
.feedBackArea .ftext{
    width:auto;
    display:inline-block;
}
.feedBackArea .fimage{
    float:right;
    display: table;
}
.feedBackArea .fimage img{
    padding-left:3px;
    padding-right:3px;
    cursor:pointer;
}
.feedBackArea .fimage img:hover{
    
}
.feedBackArea .fimage a{
    color: white;
    padding: 0 3px;
    display: table-cell;
}
.feedBackArea .fimage a i{
    padding: 0;
}
.feedBackArea .disableMouseEvent a i{
    color: #c5c5c5;
}
.feedBackArea .fimage a:focus, .feedBackArea .fimage a:active, .feedBackArea .fimage a:hover{
    color: #ffcf99;
}

/****End Feedback Area Footer****/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	line-height: 30pt;
	font-size: 14px;
}

.displaynone {
	display: none;
}

ul.customList {
	list-style-type: square;
	padding: 5px;
	margin: 2px;
	border-radius: 5px
}

.senderLetter {
	width: 30px;
	height: 30px;
	text-transform: uppercase;
	border-radius: 20px;
	float: right;
	border: 1px #004fb6 solid;
	box-shadow: 3px 2px 5px -3px #aaa;
	font-size: 20px;
	color: #004fb6;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
}

.animated {
	animation-fill-mode: none !important;
}

.showchatbar p {
	margin-bottom: 0px !important;
	font-size: 14px;
}

.showchatbox {
	bottom: 0px;
	background: #ffffff;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	height: 100%;
	overflow-x: hidden;
	box-shadow: 0px -1px 2px 0px #ffd900;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
}

.showchatbox_skip {
	bottom: 0px;
	background: #ffd900;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	height: 100%;
	overflow-x: hidden;
	box-shadow: 0px -1px 2px 0px #ffd900;
	text-align: center;
}

.showchatbox_name {
	bottom: 0px;
	background: #fff;
	width: 100%;
	margin: 0 auto;
	padding: 10% 15px 15px 15px;
	overflow-x: hidden;
	box-shadow: 0px -1px 2px 0px #333333;
	text-align: center;
	height: -webkit-fill-available;
}

.showchatbox_name a {
	padding: 5px 20px;
}

.showchatbox_name h6 {
	font-family: 'Helvetica', Arial, sans-serif;
	line-height: 1.5em;
	color: #333;
	font-size:16px;
	font-weight: normal;
}

@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.skipbtn {
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 1px;
}

.nameinput {
	background: none;
	border: 0px;
	border-bottom: 1px solid #58595b;
	text-align: center;
	font-size: 14px;
	padding: 5px 5px;
	color: #444;
	outline: none !important;
	margin: 9% 0%;
}

.nameinput:active,
.nameinput:focus {
	border-bottom: 2px solid #58595b;
	outline: none !important;
}

.cheader {
    padding: 1% 2.5% 0%;
    margin: 0%;
    display: -webkit-box;
    width: 100%;
    background-color: #58595b
    /*#e8000d;*/
}

.cheader div {
	padding: 0%;
}

.closeicon {
	text-align: right;
	float: right;
	right: 10px;
	position: fixed;
	display: flex;
	margin-top: 3px;
}

.closeicon img {
	width: 23px;
	height: 25px;
	margin-left: -50%;
	margin-right: 29%;
}

.closeicon i {
	text-align: right;
	font-size: 23px;
	color: #0363ad;
	padding-left: 17px;
	padding-top: 0px;
}

ul.dd-li {
	background-color: #58595b;
}

.dd-li li a {
	color: #ffffff;
	font-weight: bold;
	/*border-bottom: 1px dotted #ffffff;*/
}

.dd-li li a.last {
	border-bottom: none;
}

.dd-li li a:hover {
	background-color: #8b8c8f;
}

.dd-li li a:hover::before {
	content: '> ';
	background-color: #8b8c8f;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0){
	@media {
    
		.closeicon {
			width: 100px;
			text-align: right;
			float: right;
			right: 10px;
			/*position: fixed;*
			display: table;
			margin-top: 6px;
		}
		.closeicon i {
			text-align: right;
			font-size: 23px;
			color: #ffffff;
			display: table-cell;
			padding-left: 0px;
			padding-right: 3px;
			cursor: pointer;
			padding-top: 0px;
			width: 32px;
		}
		.closeicon img.speaking{
			margin-right: 0px;
			display: table-cell;
		}
		.closeicon img.homebtn{
			margin-right: 5px;
			margin-left: -10px;
			display: table-cell;
		}
		.bmd-modalButton {
			margin-right: 15px;
		}
	}
}*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.closeicon {
		text-align: right;
		float: right;
		right: 10px;
		position: fixed;
		margin-top: 6px;
	}
	.closeicon i {
		text-align: right;
		font-size: 23px;
		color: #ffffff;
		padding-left: 8px;
		padding-right: 3px;
		cursor: pointer;
		padding-top: 0px;
	}
	/* Safari only override */
    ::i-block-chrome, .closeicon {
		width: 100px;
		text-align: right;
		float: right;
		right: 10px;
		/*position: fixed;*/
		display: table;
		margin-top: 6px;
	}
	::i-block-chrome, .closeicon i {
		text-align: right;
		font-size: 23px;
		color: #ffffff;
		display: table-cell;
		padding-left: 0px;
		padding-right: 3px;
		cursor: pointer;
		padding-top: 0px;
		width: 32px;
	}
	::i-block-chrome, .closeicon img.speaking{
		margin-right: 0px;
		display: table-cell;
	}
	::i-block-chrome, .closeicon img.homebtn{
		margin-right: 5px;
		margin-left: -10px;
		display: table-cell;
	}
    /*::i-block-chrome,.flex-direction-nav-featured a{
        margin-top: 5%;
    }*/
	.bmd-modalButton {
		margin-right: 15px;
	}
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	.closeicon {
		text-align: right;
		float: right;
		right: 10px;
		position: fixed;
		display: flex;
		margin-top: 3px;
	}
	.closeicon img {
		width: 27px;
		height: 24px;
		margin-left: -50%;
		margin-right: 29%;
	}
	.closeicon i {
		text-align: right;
		font-size: 17px;
		color: #ffffff;
		padding-left: 10px;
		padding-top: 5px;
	}
}

.alishalogo {
	float: left;
	text-align: left;
}

.alishalogo img {
	float: left;
}

.alishatxt {
	color: #fff;
	font-weight: 600;
	font-size: 17pt;
	line-height: 40px;
	float: left;
	margin-left: 10px;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

.gender1 img {
	width: 45%;
}

.chatcontentbox {
	background: #fff;
	height: 88%;
	width: 99.6%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0% !important;
	padding-bottom: 3%;
	padding-top: 10px;
}

.linkhref {
	word-break: break-all !important;
	line-height: 21px;
}

textarea {
	border: 1px solid #444;
	padding: 1% 4%;
}

#style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #eee;
}

#style-3::-webkit-scrollbar {
	width: 10px;
	background-color: #eee;
}

#style-3::-webkit-scrollbar-thumb {
	background-color: #aaa;
	height: 50px;
	border-radius: 50px;
}

.chat-content {
	background-color: #fff;
}

.chat-image {
	float: left;
	border-radius: 50%;
}

.chat-image.chat-image-default {
	width: 40px;
	height: 40px;
	box-shadow: 3px 2px 5px -3px #aaaaaa;
	border: 1px solid #aaaaaa;
}

.chat-message.chat-message-sender .chat-image.chat-image-default {
	padding: 0.7% .7%;
	width: 35px;
	height: 35px;
	box-shadow: 3px 2px 5px -3px #aaa;
}

.chat-message {
	width: 100%;
	display: table;
	overflow: hidden;
	padding: 1%;
	margin-bottom: 3px;
}

.chat-message:before {
	content: " ";
	display: block;
}

.chat-message:last-of-type {
	margin-bottom: 0;
}

.chat-message .chat-message-wrapper {
	box-shadow: 3px 1px 9px -4px #aaa;
	max-width: 81%;
	display: table;
	margin: 0 9px;
	padding-top: 10px;
	position: inherit;
	word-break: break-word;
}

.chat-message div.chat-message-wrapper::before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	top: -4px;
	position: absolute;
}

.chat-message .chat-message-wrapper p {
	color: #000;
}

.chat-message .chat-message-wrapper p:first-of-type {
	border-top: 0 !important;
}

.chat-message.chat-message-recipient .chat-message-wrapper {
	/*float: left;
	border-top-right-radius: 9px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	padding: 8px 11px;
	box-shadow: 1px 1px 6px -1px #5c596c;
	background: #e5ebf9;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	margin-top: 3px;*/
	float: left;
	border-top-right-radius: 20PX;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 8px 11px;
	box-shadow: 3px 3px 4px -2px #5c596c;
	background: #e5ebf9;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	margin-top: 3px;
}

.chat-message.chat-message-recipient p {
	line-height: 21pt;
	margin-bottom: 0%;
	font-size: 14px;
}

/*.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-message.chat-message-recipient .chat-message-content button {
	letter-spacing: 0px;
	padding: 2%;
	text-align: center;
	white-space: pre-line;
	max-width: 120px;
	height: 100px;
	text-decoration: none !important;
	margin: 1% 1%;
	cursor: pointer;
	outline: none !important;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-ms-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	border-radius: 5px;
	background: #e5ebf9;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	box-shadow: 1px 1px 6px -1px #5c596c;
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-message.chat-message-recipient .chat-message-content button:hover {
	border-color: var(--hover);
}

.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-message.chat-message-recipient .chat-message-content button:active {
	background: #888;
	color: #fff;
	background-image: none !important;
	outline: none !important;
	border: 0px;
	box-shadow: none;
}*/

.allbtn {
	margin: 0%;
}

.hideimg {
	visibility: hidden !important;
}

.divyesnobtn {}

.yesnobtngreen {
    background: #007c85 !important;
    box-shadow: 1px 1px 5px -1px #333 !important;
    color: #fff !important;
    font-weight: normal;
}
.yesnobtngreen:hover{
	background: #0495a0 !important;
	box-shadow: 1px 1px 8px -1px #0495a0 !important;
	/*font-weight:bold !important;*/
}
.yesnobtngrey {
    background: #58595b !important;
    box-shadow: 1px 1px 5px -1px #333 !important;
    color: #fff !important;
    font-weight: normal;
}
.yesnobtngrey:hover{
	background: #68696b !important;
	box-shadow: 1px 1px 8px -1px #68696b !important;
	/*font-weight:bold !important;*/
}
.imgbtn_container img{
	/* margin-top: 5px; */
	max-width: 90px;
	/* border: solid 1px rgb(232, 0, 13, 0.3); */
	padding: 0 10px;
	transition-duration: 1s !important;
}
/*.imgbtn_container img:hover{
	 box-shadow:0px 0px 5px 0px #e8000d !important; 
	 transition-duration:1s !important; 
}*/
.yesnobtn {
	letter-spacing: 0px;
	text-align: center;
	max-width: 100%;
	text-decoration: none !important;
	display: inline-block;
	margin: 1% 1%;
	cursor: pointer;
	outline: none !important;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-ms-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	border-radius: 15px;
	background: #e5ebf9;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	/* box-shadow: 1px 1px 6px -1px #5c596c; */
	padding: 1% 7% !important;
}

.maleradio {
	width: 55px;
}

.femaleradio {
	width: 55px;
}

.genderbtn button {
	padding: 1%;
}

.heart {
	width: 29px;
	height: 29px;
	margin-bottom: 1%;
}

.popani {
	width: 29px;
	height: 29px;
	margin-bottom: 1%;
}

.rainbow {
	width: 29px;
	height: 29px;
	margin-bottom: 1%;
}

.verticalani {
	width: 29px;
	height: 29px;
	margin-bottom: 1%;
}

.circani {
	width: 20%;
	height: 29px;
	margin-bottom: 1%;
}

.taxicon {
	width: 39%;
	height: 41px;
	margin-bottom: 1%;
}

.bussreqicon {
	width: 29%;
	height: 29px;
	margin-bottom: 1%;
}

.finprotect {
	width: 29%;
	height: 29px;
	margin-bottom: 1%;
}

.savinvest {
	width: 29%;
	height: 36px;
	margin-bottom: .5%;
}

.educ {
	width: 33%;
	height: 36px;
	margin-bottom: .5%;
}

.marry {
	width: 37%;
	height: 36px;
	margin-bottom: .5%;
}

.others {
	width: 29%;
	height: 36px;
	margin-bottom: .5%;
}

.healthimg {
	width: 45%;
	height: 36px;
	margin-bottom: .5%;
}

.healthcare {
	width: 35%;
	height: 36px;
	margin-bottom: .5%;
}

.healthsecure {
	width: 35%;
	height: 36px;
	margin-bottom: .5%;
}

.heart {
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	-webkit-animation: heart-beat 1s linear infinite alternate;
	animation: heart-beat 1s linear infinite alternate;
}

.heart:before,
.heart:after {
	left: calc(50% - 20px);
	top: calc(50% - 32px);
	width: 40px;
	height: 64px;
	background: #FFFFFF;
	border-radius: 20px 20px 0 0;
}

.heart:before {
	-webkit-transform: translate(20px) rotate(-45deg);
	transform: translate(20px) rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.heart:after {
	-webkit-transform: translate(-20px) rotate(45deg);
	transform: translate(-20px) rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.infoBtn1:hover i.fa-info-circle {
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.5);
}

.bmd-modalButton {
	width: 27px;
	height: 24px;
	background: transparent;
	border: none;
	margin-right: 0;
}

.close-button {
	overflow: hidden;
}

.bmd-modalContent {
	box-shadow: none;
	background-color: transparent;
	border: 0;
}

.bmd-modalContent .close {
	font-size: 30px;
	line-height: 30px;
	padding: 25px 4px 7px 13px;
	text-shadow: none;
	opacity: .7;
	color: #fff;
}

.bmd-modalContent .close span {
	display: block;
}

.bmd-modalContent .close:hover,
.bmd-modalContent .close:focus {
	opacity: 1;
	outline: none;
}

.bmd-modalContent iframe {
	display: block;
	margin: 0 auto;
}

.frame1 {
	width: 510px;
	height: 425px;
	border: 0;
	-ms-transform: scale(0.80);
	-moz-transform: scale(0.80);
	-o-transform: scale(0.80);
	-webkit-transform: scale(0.80);
	transform: scale(0.80);
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

@-webkit-keyframes heart-beat {
	25% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
}

@keyframes heart-beat {
	25% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	75% {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
	}
}

.rainbow {
	-webkit-animation: rainbow 5s ease-in-out infinite;
	animation: rainbow 5s ease-in-out infinite;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.rainbow:after {
	-webkit-animation: rainbow_shadow 5s ease-in-out infinite;
	animation: rainbow_shadow 5s ease-in-out infinite;
	content: '';
	opacity: 0.2;
	-webkit-transform: rotate(-0deg);
	transform: rotate(-0deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

@-webkit-keyframes rainbow {
	50% {
		-webkit-transform: rotate(50deg);
		transform: rotate(50deg);
	}
}

@keyframes rainbow {
	50% {
		-webkit-transform: rotate(50deg);
		transform: rotate(50deg);
	}
}

@-webkit-keyframes rainbow_shadow {
	50% {
		-webkit-transform: rotate(-50deg) translate(10px) scale(.7);
		transform: rotate(-50deg) translate(10px) scale(.7);
		opacity: 0.05;
	}
}

@keyframes rainbow_shadow {
	50% {
		-webkit-transform: rotate(-50deg) translate(10px) scale(.7);
		transform: rotate(-50deg) translate(10px) scale(.7);
		opacity: 0.05;
	}
}

.verticalani {
	-webkit-animation: rotate-vertical 2.3s ease-out infinite;
	7 animation: rotate-vertical 2.3s ease-out infinite;
	7
}

@-webkit-keyframes rotate-vertical {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

@keyframes rotate-vertical {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

.popani {
	-webkit-animation: pop 1.3s ease-out infinite;
	animation: pop 1.3s ease-out infinite;
}

@-webkit-keyframes pop {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes pop {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

.circani {
	-webkit-animation: full-circle 2.7s ease-out infinite;
	animation: full-circle 2.7s ease-out infinite;
}

@-webkit-keyframes full-circle {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

@keyframes full-circle {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

.finprotect {
	animation-name: turn;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	transform-style: preserve-3d;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@-webkit-keyframes turn {
	100% {
		transform: rotateY(30deg);
	}
	0% {
		transform: rotateY(-50deg);
	}
}

@-moz-keyframes turn {
	100% {
		transform: rotateY(30deg);
	}
	0% {
		transform: rotateY(-50deg);
	}
}

@keyframes turn {
	100% {
		transform: rotateY(30deg);
	}
	0% {
		transform: rotateY(-50deg);
	}
}

.savinvest {
	-webkit-animation: float 3s infinite ease-in-out;
	-moz-animation: float 3s infinite ease-in-out;
	-o-animation: float 3s infinite ease-in-out;
	animation: float 3s infinite ease-in-out;
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translate(0px, -7px) scale(1.1);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 100px 20px rgba(0, 0, 0, 0.05);
	}
	50% {
		-webkit-transform: translate(0px, 0px) scale(0.9);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 10px 5px rgba(0, 0, 0, 0.2);
	}
}

@-moz-keyframes float {
	0% {
		-moz-transform: translate(0px, -7px) scale(1.1);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 100px 20px rgba(0, 0, 0, 0.05);
	}
	50% {
		-moz-transform: translate(0px, 0px) scale(0.9);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 10px 5px rgba(0, 0, 0, 0.2);
	}
}

@-o-keyframes float {
	0% {
		-o-transform: translate(0px, -7px) scale(1.1);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 100px 20px rgba(0, 0, 0, 0.05);
	}
	50% {
		-o-transform: translate(0px, 0px) scale(0.9);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 10px 5px rgba(0, 0, 0, 0.2);
	}
}

@-keyframes float {
	0% {
		transform: translate(0px, -7px) scale(1.1);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 100px 20px rgba(0, 0, 0, 0.05);
	}
	50% {
		transform: translate(0px, 0px) scale(0.9);
		text-shadow: 2px 2px 0 rgb(13, 117, 117), 2px 10px 5px rgba(0, 0, 0, 0.2);
	}
}

.bussreqicon {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.taxicon {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@keyframes jackInTheBox {
	from {
		opacity: 0;
		transform: scale(0.1) rotate(30deg);
		transform-origin: center bottom;
	}
	50% {
		transform: rotate(-10deg);
	}
	70% {
		transform: rotate(3deg);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.jackInTheBox {
	animation-name: jackInTheBox;
}

.btnblock {
	display: inline;
}

.btnblock button {
	width: 25%;
}

.chat-message.chat-message-sender .chat-message-wrapper {
	float: right;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 0px;
	padding: 7px 11px;
	background: #0363ad;
	color: #fff;
	box-shadow: -4px -4px 3px -2px #999;
}

.chat-message.chat-message-sender p {
	line-height: 25px;
}

.chat-message.chat-message-sender img {
	float: right;
}

.chat-message .chat-message-content {
	font-size: 14px;
	border-radius: 4px;
	line-height:1.5em;
}

.chat-message .chat-message-content:before {
	content: " ";
	display: block;
}

.chat-message .chat-details {
	clear: both;
	width: 100%;
	display: table;
	overflow: hidden;
}

.chat-message .chat-details:before {
	content: " ";
	display: block;
}

.chat-message .chat-details span {
	color: #000;
	float: right;
	padding-bottom: 2%;
	font-size: 10px;
}

.chatimg {
	width: 100%;
	height: 65%;
	padding: 2%;
}

.chattextbar {
	position: fixed;
	bottom: 0px;
	width: 99.7%;
	background: #fff;
	margin: 0;
	display: block;
	padding: 0% 2%;
	margin-left: 1px;
	margin-right: 1px;
	box-shadow: 0px -1px 2px 1px #999999;
}

.chattextbar i {
	float: left;
	padding: 3.5% 1%;
	padding-right: 2%;
	font-size: 21px;
}

.chattextbar input {
	height: 35px;
	background: #ffffff96;
	margin: 2% 0%;
	padding: 0% 3%;
	width: 77%; /*79%;*/
	float: left;
	border: 0px;
	outline: none !important;
}

.chattextbar input::placeholder {
	color: #000;
	opacity: 1;
}

.chattextbar input:-ms-input-placeholder {
	color: #000;
}

.chattextbar input::-ms-input-placeholder {
	color: #000;
}

/*.sendbtn {
	margin-top: 2%;
	text-transform: uppercase;
	background: transparent;
	color: #1d757c;
	border-radius: 5px;
	outline: none !important;
	border: 1px solid #1d757c;
}**/
.sendbtn {
	text-transform: uppercase;
    background: transparent;
    color: #1d757c;
    padding: 6px 6px;
    width: 40px !important;
    margin-left: 0 !important;
}

.chattextbar .sendbtn {
	width: 15%;
	padding-top: 7px;/*2%;*/
	/*float: right;*/
}

.micbtn {
	margin-top: 2%;
    float: right;
    background: white;
    /* border-radius: 25px; */
    padding: 6px 10px;
    /* border: 1px solid #ccc; */
    opacity: 0.5;
}

.micbtn:hover {
	opacity: 1;
	border-radius: 25px;
	border: 1px solid #1d757c;
}

.mic-btn{
    width:32px;
    height:32px;
    float: right;
    background: #fff;
    margin-top: 7px;
    box-shadow:2px 2px 10px 2px #ddd;
    border-radius: 50%; 
    border:none;
    cursor:pointer;
    line-height: 20px;
}
.spinner{
	 width:32px;
    height:32px;
    float: right;
    background: #fff;
    margin-top: 11px;
    border-radius: 50%; 
    border:none;
    line-height: 32px;
    color:#1d757c;
    
}
.spinner>i{padding: 4px 7px;}
.mic-btn:hover{
   box-shadow:0 0 15px 0 rgba(124, 124, 124, 0.5);
    transition-duration: 1s;
}
.mic-btn>i{padding: 6px 9px;}

.mic-btn-lg{
    margin: auto;
    width: 70px;
    height: 70px;
    float: none;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px 2px #ddd;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    /* line-height: 35px; */
}
.mic-btn-lg:hover{
   box-shadow:0 0 15px 0 rgba(124, 124, 124, 0.5);
    transition-duration: 1s;
}
.mic-btn-lg>i{
	/*padding: 6px 22px;*/
    font-size: 45px;
    line-height: 60px;}

.animate-pulse{
    animation: pulse 1s infinite;
    border:0.5px solid #ccc;
    transition-duration: 2s;
}
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(66, 133, 244, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(66, 133, 244, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(66, 133, 244, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(66, 133, 244, 0.4);
      box-shadow: 0 0 0 0 rgba(66, 133, 244, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(66, 133, 244, 0);
        box-shadow: 0 0 0 15px rgba(66, 133, 244, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(66, 133, 244, 0);
        box-shadow: 0 0 0 0 rgba(66, 133, 244, 0);
    }
  }
/*.chattextbar .micbtn {
	width: 5%;
	padding-top: 2%;
	float: right;
}*/
/***Mic Modal box***/
#myMicModal {
	width: 100%;
	height: 50%;
	bottom: 1px;
	top: inherit;
}
.showchatbox_mic {
	bottom: 0px;
	background: #fff;
	width: 100%;
	margin: 0 auto;
	padding: 8% 15px 15px 15px;
	overflow-x: hidden;
	box-shadow: 0px -1px 2px 0px #333333;	
	height: -webkit-fill-available;
	border-radius:20px;
}
#skipMic{
	background:#3e609c !important;
	margin-top:2em !important;
	color:#FFFFFF;
}
.userTextMic{
	margin-top:2em !important;			
}
.userTextMic i{
	color:#3e609c !important;
}
.chat-message.chat-message-recipient .no-boxing {
	box-shadow: none;
	background: transparent;
}
/***End Mic Modal***/

.flash-button {
	margin-top: 2%;
	text-transform: uppercase;
	float: right;
	background: transparent;
	color: #004fb6;
	border-radius: 5px;
	outline: none !important;
	border: 1px solid #004fb6;
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; //Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite; //Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1.0;
	}
}

//Firefox 1+
@-webkit-keyframes flash {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1.0;
	}
}

//Safari 3-4
@-moz-keyframes flash {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1.0;
	}
}

.refreshbtn {
	padding-top: 13px;
	float: left;
	cursor: pointer;
	margin-right:5px;
}

.homebtn {
	padding-top: 0px;
	float: right;
	cursor: pointer;
}

.btn-2:hover {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	-webkit-transform: translateY(-0.25em);
	transform: translateY(-0.25em);
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.03);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.03);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.03);
	transition: all 200ms ease-in;
	transform: scale(1.03);
}

.btn-2 {
	--color: rgba(0, 79, 182, .6);
	--hover: rgba(0, 79, 182, .6);
}

/*input[type="radio"] {
	opacity: 0;
	position: absolute;
}

input[type="radio"]+span {
	font-family: 'Material Icons';
	color: #B3CEFB;
	border-radius: 50%;
	padding: 10px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

input[type="radio"]:checked+span {
	color: #D9E7FD;
	background-color: #4285F4;
}

input[type="radio"]:focus+span {
	color: #fff;
}*/

.section {
	padding-left: 53px;
}

.section input[type="radio"] {
	display: none;
}

.container {
	margin-bottom: 10px;
}

.container label {
	position: relative;
}

.container span::before,
.container span::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.container span.radio:hover {
	cursor: pointer;
}

.container span.radio::before {
	left: -52px;
	width: 45px;
	height: 25px;
	background-color: #A8AAC1;
	border-radius: 50px;
}

.container span.radio::after {
	left: -49px;
	width: 17px;
	height: 17px;
	border-radius: 10px;
	background-color: #6C788A;
	transition: left .25s, background-color .25s;
}

input[type="radio"]:checked+label span.radio::after {
	left: -27px;
	background-color: #4285F4;
}

.container span.checkbox::before {
	width: 27px;
	height: 27px;
	background-color: #fff;
	left: -35px;
	box-sizing: border-box;
	border: 3px solid transparent;
	transition: border-color .2s;
}

.container span.checkbox:hover::before {
	border: 3px solid #F0FF76;
}

.container span.checkbox::after {
	content: '\f00c';
	font-family: 'FontAwesome';
	left: -31px;
	top: 2px;
	color: transparent;
	transition: color .2s;
}

input[type="checkbox"]:checked+label span.checkbox::after {
	color: #62AFFF;
}

.date-picker {
	margin: 10px auto;
}

.date-picker {
	width: 260px;
	height: auto;
	max-height: 37px;
	background: white;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s 0s ease-in-out;
	transition: all 0.3s 0s ease-in-out;
}

.date-picker .input {
	width: 100%;
	height: 50px;
	font-size: 0;
	cursor: pointer;
}

.date-picker .input .result,
.date-picker .input button {
	display: inline-block;
	vertical-align: top;
}

.date-picker .input .result {
	width: calc(100% - 50px);
	height: 50px;
	line-height: 41px;
	font-size: 16px;
	padding: 0 10px;
	color: grey;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.date-picker .input button {
	width: 50px;
	height: 50px;
	background-color: #8392A7;
	color: white;
	line-height: 50px;
	border: 0;
	font-size: 18px;
	padding: 0;
}

.date-picker .input button:hover {
	background-color: #68768A;
}

.date-picker .input button:focus {
	outline: 0;
}

.date-picker .calendar {
	position: relative;
	width: 100%;
	background: #fff;
	border-radius: 0px;
	overflow: hidden;
}

.date-picker .ui-datepicker-inline {
	position: relative;
	width: 100%;
}

.date-picker .ui-datepicker-header {
	height: 100%;
	line-height: 50px;
	background: #ffd900;
	color: #004fb6;
	margin-bottom: 10px;
}

.date-picker .ui-datepicker-prev,
.date-picker .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 2px;
}

.date-picker .ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.date-picker .ui-datepicker-prev:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.date-picker .ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.date-picker .ui-datepicker-next:after {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.date-picker .ui-datepicker-prev:after,
.date-picker .ui-datepicker-next:after {
	content: "";
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.date-picker .ui-datepicker-prev:hover,
.date-picker .ui-datepicker-next:hover,
.date-picker .ui-datepicker-prev:hover:after,
.date-picker .ui-datepicker-next:hover:after {
	border-color: #68768A;
}

.date-picker .ui-datepicker-title {
	text-align: center;
}

.date-picker .ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.date-picker .ui-datepicker-calendar thead tr th span {
	display: block;
	width: 100%;
	color: #004fb6;
	margin-bottom: 5px;
	font-size: 13px;
}

.date-picker .ui-state-default {
	display: block;
	text-decoration: none;
	color: #b5b5b5;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
}

.date-picker .ui-state-default:hover {
	background: rgba(0, 0, 0, 0.02);
}

.date-picker .ui-state-highlight {
	color: #68768A;
}

.date-picker .ui-state-active {
	color: #68768A;
	background-color: rgba(131, 146, 167, 0.12);
	font-weight: 600;
}

.date-picker .ui-datepicker-unselectable .ui-state-default {
	color: #eee;
	border: 2px solid transparent;
}

.date-picker.open {
	max-height: 400px;
}

.date-picker.open .input button {
	background: #68768A;
}

.userinput {
	padding-left: 21%;
}

.emailid div {
	margin: 0%;
}

.emailid input {
	width: 76%;
	padding: 3% 1%;
}

.linkTag {
	text-decoration: underline;
	color: #5bc0de !important;
	cursor: pointer;
	line-height: 25px;
}

.value {
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	text-align: center;
	display: block;
}

.price-range-both.value {
	width: 100px;
	margin: 0 0 0 -50px;
	top: 26px;
}

.price-range-both {
	display: none;
}

.value i {
	font-style: normal;
}

.ui-state-active {
	color: #444 !important;
	outline: none !important;
}

.ui-datepicker{width: 77%;font-size: 17px;}
.ui-datepicker td span, .ui-datepicker td a{
	padding: 6px 5px;
}
.ui-widget-header {
	background: #dddddd;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #ea2421;
	background: #ea2421;
	color: #fff;
}
.ui-state-checked {
	border: 1px solid #dad55e;
	background: #fffa90;
}

.ui-slider-handle ui-corner-all ui-state-default {
	color: #000;
}

.demo input {
	margin-bottom: 2%;
}

.demo {
	padding: 1% 2%;
}

.ranged {
	width: 325px;
	padding: 1% 7%;
	padding-right: 13%;
}

.range-slider {
	position: relative;
	height: 50px;
}

.extra-controls {
	position: relative;
}

.inp {
	font-size: 13px;
	width: 85px;
	text-align: center;
	padding: 5px;
}

.inp+.inp {
	float: right;
}

.disableMouseEvent {
	pointer-events: none;
}

.remmargin {
	margin-left: 0px;
	margin-right: 0px;
}

.newbtn1 {
	letter-spacing: 0px;
	padding: 10px 4px 5px 4px;
	text-align: center;
	min-width: 120px;
	max-width: 125px;
	min-height: 100px;
	max-height: 130px;
	float: left;
	text-decoration: none !important;
	margin: 1% 1%;
	cursor: pointer;
	line-height: 17px;
	outline: none !important;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-ms-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	border-radius: 5px;
	background: #e5ebf9;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	box-shadow: 1px 1px 6px -1px #5c596c;
}

.newbtn1:hover {
	box-shadow: 0 0 11px rgba(0, 79, 182, .6);
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.03);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.03);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.03);
	transition: all 200ms ease-in;
	transform: scale(1.03);
}

.infoBtn1 i {
	font-size: 14px;
	color: #004fb6;
}

.infoBtn1 {
	position: initial;
	bottom: 17px;
	height: 15px;
	text-align: center;
	margin-top: 5px;
}

.popover {
	position: absolute;
	top: 30 !important;
	left: 1;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	line-break: auto;
}

.popover-content {
	padding: 9px 14px;
	color: #333;
	width: 150px;
}

.popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
	display: none;
}

.overlaychat {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	opacity: .55;
	z-index: 9999999;
}

.paused {
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
	opacity: 0.1;
}

.dropdown,
.dropup {
	/* position: absolute; */
	top: 0px;
	
	/* right: 90px; */
}

.dropdown-menu {
	left: auto;
	right: 10px;
	z-index: 1000;
	/*width: 175px; hide for datepicker*/
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td span.active{
	background-color: #ea2421;
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover{background:#ea2421;color:#ffffff;}

/*For Image Button*/
/*For Image Button*/
.imgbtn_container {
  	display: inline-block;
  	position: inherit;/*relative;*/
  	width: 30%;
  	max-width: 85px;
  	/* margin-right: 5px; */
  	cursor: pointer;
  	border: solid 1px rgb(6, 6, 6);
  	border: solid 1px rgb(8, 8, 8, 0.3);
  	border-radius: 18px;
  	margin-bottom: 10px;
  	margin: 5px 5px 4px 4px;
}
.imgbtn_container:first-child {
	border-top-left-radius: 0px
}
.imgbtn_container:last-child {
	border-bottom-right-radius: 0px
}
.imgbtn_container:hover {
	border: solid 1px rgb(232, 0, 13, 0.6);
}
.imgbtn_image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 40px;  
}
.imgbtn_image1 {
	height:40px !important;
	width:auto !important;
}
@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	.imgbtn_container{
		border: solid 1px rgb(6, 6, 6);
	}
}
.imgbtn_overlay {
  	position: inherit;
  	bottom: 0;
  	/* background: rgb(0, 0, 0); */
  	/* background: rgba(0, 124, 133, 0.6); */
  	color: #f1f1f1;
  	width: 100%;
  	color: #333;
  	font-size: 14px;
  	padding: 0 5px 5px 5px;
  	text-align: center;
  	border-radius: 20px;
  	/* border-top-left-radius: 0px; */
  	border-top-right-radius: 0px;
}
.imgbtn_overlay:hover {
  /*font-size: 18px;
  font-weight:600;*/
}

.imgbtn_text_overlay {
  position: absolute;
  /* bottom: 0; */
  top: 35%;
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.5); */ /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  /* height: 100%; */
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  /* vertical-align: middle; */
}
/*End For image button*/

/*Input-text:focus*/
.form-control:focus{
	border-color: #58595b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.2);
}

.myClass .dropdown-menu {
	max-height: 200px !important;
    overflow: hidden;
    min-height: 77px;
    position: initial;
    width: 100%;
}

/*For country drop-down*/
.countryPick {
	margin: 10px 0px 0px 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* background: transparent; */
    width: 100%;
    box-shadow: inset 0 -3px 1px rgba(0,0,0,.075);
}
.countryCodePick {
	margin: 10px 0px 0px 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	/* background: transparent; */
	width: 110px;
	box-shadow: none;
	border-radius: 0;
	font-size: 14px;
	color: #333;
	padding: 5px 5px;
	border-bottom: 1px solid #58595b;
}

.cc-flag-IND {
	width: 16px;
  	height: 14px;
  	background: url(../images/bootstrap-formhelpers-countries.flags.png) no-repeat;
}
.cc-flag-IND{
	width: 16px;
}
.cc-flag-IND {
	margin-right: 5px;
}
.cc-flag-IND {
  background-position: -1564px 0;
}
.cc-flag-ABW {
  background-position: -153px 0;
}
.cc-flag-AFG {
  background-position: -3689px 0;
}
.cc-dropdown {
  /*position: relative;*/
}

/*Datetimepicker icon*/
.dtp1{margin-top: 10px;}
.dtp1 input{
	background-color:#fff !important;
	cursor:pointer;
}
.dtp1 i{
	position: absolute;
	top: 4px;
	right: 7px;
	display: inline-block;
	width: 23px;
	height: 25px;
	z-index: 99;
	background-color: transparent;
	background-image: url(../images/icons/calendar-acb4b221a06b9d79216713b5255143f416147cad36a4ced6177cb80f0f68c2db.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	pointer-events: none;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	/*border: 1px solid #999999;*/
	display: table-cell;
	padding: 1px 0px;
	vertical-align: top !important;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTableCell i {
    font-size: 20px;
    padding: 6px 1px 6px 5px;
    cursor: pointer;
}

/*Card design*/
.chat-card{
	background: white !important;
    border-left: none !important;
    border-radius: 2px !important;
    line-height: 18px !important;
    box-shadow: rgb(62, 61, 61) 0px 2px 5px 0px, rgb(92,92,92) 0px 2px 1px 1px !important;
    margin-bottom: 7px !important;
}

/*media start*/
@media only screen and (min-device-width:320px) and (max-device-width:480px) and (-webkit-device-pixel-ratio:2) and (device-aspect-ratio:2/3) and (orientation:landscape) {}

@media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait) {
	.refreshbtn {
		padding-top: 12px;
		float: left;
		cursor: pointer;
	}
	.homebtn {
		padding-top: 7px;
		float: right;
		cursor: pointer;
	}
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {}
@media (min-width:320px) and (max-width:400px) {
	.chattextbar input {
		width: 63%/* 71% */;
	}
	.refreshbtn {
	    padding-top: 9px;
	    float: left;
	    cursor: pointer;
	    margin-right: 5px;
	}
	.mic-btn{margin-top: 7px;}
}
@media (min-width:321px) and (max-width:480px) {
	.chatcontentbox {
		padding-bottom: 13%;
		height: 83%;
	}
	.chattextbar input {
		width: 68%/* 71% */;
	}
	.slider-wrapper {
		width: 301px;
	}
	.closeBtn {
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 19px;
		opacity: 1;
		color: #000;
		z-index: 99999;
		cursor: pointer;
		width: 35px;
		height: 40px;
		display: none;
	}
	.refreshbtn {
		padding-top: 10px;
		float: left;
		cursor: pointer;
	}
	.homebtn {
		/*padding-top: 5px;*/
		float: right;
		cursor: pointer;
	}
}

@media screen and (min-width:321px) and (max-width:480px) {
	.chattextbar .sendbtn {
		width: 60px;
	}
	.btn{
		padding:6px 5px;
	}
	.mic-btn{
		margin-top:7px;
	}	
	.showchatbox{
		border:none;
		/*background:none;*/
		box-shadow:none;
	}
}
@media screen and (max-width:320){
	.mic-btn{
		margin-top:7px;
	}	
	.showchatbox{
		border:none;
		/*background:none;*/
		box-shadow:none;
	}
}

@media screen and (min-width:400px) {}

@media screen and (max-width:480px) {}

@media (min-width:481px) and (max-width:767px) {
	.chatcontentbox {
		height: 91%;
		padding-bottom: 19%;
	}
	.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
	.chat-message.chat-message-recipient .chat-message-content button {
		height: 92px;
	}
	.maleradio {
		width: 31%;
	}
	.femaleradio {
		width: 25%;
	}
	.chattextbar .sendbtn {
		width: 60px;
	}
	.closeBtn {
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 19px;
		opacity: 1;
		color: #000;
		z-index: 99999;
		cursor: pointer;
		width: 35px;
		height: 40px;
		display: none;
	}
}

@media (min-width:768px) and (max-width:1024px) {
	.chatcontentbox {
		height: 90%;
	}
}

@media (min-width:800px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1024px) {}

@media (min-device-width:768px) and (max-device-width:1024px) {}

@media (min-width:1271px) and (max-width:1365px) {
	.chattextbar input {
		width: 79%;
	}
}

@media (min-width:980px) and (max-width:1270px) {}

@media (min-width:1025px) and (max-width:1270px) {}

@media (min-width:1366px) and (max-width:1599px) {
	.chattextbar input {
		width: 79%;
	}
}

@media (min-width:1600px) and (max-width:1909px) {}

@media (min-width:1910px) {
	.chatcontentbox {
		height: 90%;
	}
}

@media (max-width:319px) {}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
	.chatcontentbox {
		height: 82%;
		padding-bottom: 19%;
	}
}

/*New change*/
.chat-message.chat-message-recipient .chat-message-wrapper{
	/*float: left;
	border-top-right-radius: 9px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	padding: 8px 11px;
	box-shadow: 1px 1px 6px -1px #5c596c;
	background: #e5ebf9;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	margin-top: 3px;*/
	float: left;
	border-left: 5px solid #58595b;
	border-top-right-radius: 7PX;
	/* border-top-left-radius: 0px; */
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 0px; 
	padding: 8px 11px;
	box-shadow: none;
	background: #eaeaea80;
	background: -moz-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%);
	/* background: -webkit-linear-gradient(top, #e5ebf9 0%, #edf7ec 99%); */
	/* background: linear-gradient(to bottom, #e5ebf9 0%, #edf7ec 99%); */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ebf9', endColorstr='#edf7ec', GradientType=0);
	margin-top: 3px;
}
.chat-message.chat-message-sender .chat-message-wrapper{
	float: right;
	border-top-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 0px;
	padding: 7px 11px;
	background: #58595b;
	border-right: 5px solid #e8e8e8;
	color: #fff;
	box-shadow: none; 
}
/*.allbtn{margin: 0 0 0 45px !important;}*/
.yesnobtngreen {
    color: #fff !important;
    font-weight: normal;
    background-color: #ea2421 !important;
    /*background-image: linear-gradient(180deg, #666666 24%, #999999 100%) !important;*/
    padding: 1.5% 5% !important;
}
.yesnobtngreen:hover{
	background-color: #ea2421 !important;
	box-shadow: none;
	opacity: 0.9;
}
.chat-message.chat-message-sender{
	padding-top: 7px;
    padding-bottom: 7px;
}
/* Create a custom radio button */
.checkmark {
  	position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 20px;
    background-color: #e3e3e3;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.radio{
	position: relative;
	margin-bottom: 15px;
	display: block;
	margin-top: 10px;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #0363ad;
}
.radio:hover input ~ label {
  color: #0363ad;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: #0363ad;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
 	top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/******Check Box ******/
.radio label{
	display: table;
}
.radio label input[type=radio]{
	display: table-column;
	vertical-align: middle;
	opacity: 0.8;
	width: 20px;
	height: 20px;
	margin: 1px 0px 0px -20px;
}
.radio label span{
	display: initial;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 14px;
	line-height: 23px;
}
.radio label input[type=radio]:checked {
	color: #ddd;
	background-color: #0363ad;
}
.radio label input[type=radio]:focus {
	color: #ddd;
}

.chat-card-inner::before{
	content: '';
	background-image: url(../images/y-axis/user_icon.png) !important;
	background-position: bottom right !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 71%;
	bottom: -27px;
	display: block;
	right: -30px;
	opacity: 0.25;
}

/*New check boxes design for contacts mode*/
/*TODO::Create css for checkbox*/
#checkBtn label.container{
	display: inline-table;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #ccc;
	margin-right: 5px;
	padding-right: 5px;
	min-width: 135px;
	text-align: center;
	line-height: 35px;
}
#checkBtn label.container span::before,
#checkBtn label.container span::after {
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: 2px 8px;
	/* padding-left: 3px; */
	/* left: 5px; */
}
#checkBtn label.container i{
	color: #333333;
	font-size: 27px;
	padding: 4px;
	float: right;
}
#checkBtn label.container i.fa-walkin{
	background-image: url(../images/y-axis/walkin.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 35px;
	float: right;
}
#checkBtn label.container i.fa-whatsapp{
	background-image: url(../images/y-axis/whatsapp.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 33px;
	float: right;
	color: transparent !important;
}
#checkBtn label.container img.WalkIn{
	width: 30px;
	height: 35px;
	border:none;
	box-shadow:none;
	padding: 2px 0px;
	float: right;
}
#checkBtn label.container img.whatsapp{
	width: 30px;
	height: 33px;
	border:none;
	box-shadow:none;
	padding: 2px;
	float: right;
}
#checkBtn label.container[disabled]{
	cursor:not-allowed;
}
/* Create a custom checkbox */
#checkBtn label.container .chek-checkmark {
  position: absolute;
  top: 7px;
  right: calc(100% - 24px);
  height: 20px;
  width: 20px;
  padding-left: 0;
  background-color: #ccc;
  opacity: 1;
  margin-left: 3px;
  /* border-radius: 15px; */
}
/* On mouse-over, add a grey background color */
#checkBtn label.container:hover input ~ .chek-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#checkBtn label.container input:checked ~ .chek-checkmark{
  background-color: #2196F3;
  opacity: 0.9;
  height: 20px;
  width: 20px;
  top: 7px;
  right: calc(100% - 24px);
  position: absolute;
  /* border-radius: 20px; */
}

/* Create the checkmark/indicator (hidden when not checked) */
#checkBtn label.container .chek-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#checkBtn label.container input:checked ~ .chek-checkmark:after {
  display: block;
  width: 5px;
  height: 10px;
  left: 0;
}

/* Style the checkmark/indicator */
#checkBtn label.container .chek-checkmark:after {
  left: 5px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Authenticating dots*/
#authLoad:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
.closeicon {
	position: absolute;
}