@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Lato, sans-serif
}

.clearfix {
	height: 72px
}

.wrap {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	padding: 2%;
	padding-top: 4%;
	background: #ffffff59;
	box-shadow: 0 0 50px 2px #CCC
}

.logo img {
	width: auto%;
	height:35px;
}

.loginform {
	padding-top: 30px;
	padding-bottom: 5%
}

.loginform form div {
	margin-bottom: 3%
}

.loginform form div input {
	width: 70%;
	font-size: 15px;
	padding: 2%;
	border-radius: 3px;
	border:1px solid #333;
	outline: 0 !important
}

input:-webkit-autofill, input:-webkit-autofill:focus input:-webkit-autofill,
	input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus,
	select:-webkit-autofill:hover, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus
	{
	-webkit-text-fill-color: #000;
	transition: background-color 5000s ease-in-out 0s
}

.forgotpwd a {
	text-decoration: none;
	color: #000
}

.forgotpwd a p {
	font-size: 15px;
	color: #243e6b;
	font-weight: 600;
	text-align: left;
	padding-left: 15%
}

.loginform form div button {
	background: #ea2421;
	color: #fff;
	font-size: 17px;
	padding: 1% 4%;
	border-radius: 0;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	width:75%;
	margin-left:-15px;
	margin-right:-15px;
}

.loginform form div button:hover {
	background: #ea2421;
	color: #fff;
	border: 1px solid #ea2421
}

.loginerror {
	color: #b12
}

@media ( min-width :320px) and (max-width:480px) {
	.clearfix {
		height: 0
	}
	.wrap {
		width: 93%;
		box-shadow: none
	}
	.logo img {
		width: 83%
	}
	.loginform {
		padding-top: 9%;
		padding-bottom: 5%
	}
	.loginform form div input {
		width: 57%
	}
	.loginform form div {
		margin-bottom: 3%
	}
	.forgotpwd a p {
		text-align: center;
		padding-left: 0
	}
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
}

@media ( min-width :481px) and (max-width:767px) {
	.clearfix {
		height: 11px
	}
	.wrap {
		width: 73%;
		box-shadow: none
	}
	.logo img {
		width: 83%
	}
	.loginform {
		padding-top: 9%;
		padding-bottom: 5%
	}
	.loginform form div input {
		width: 57%
	}
	.loginform form div {
		margin-bottom: 3%
	}
	.forgotpwd a p {
		text-align: center;
		padding-left: 0
	}
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
}

@media ( min-width :768px) and (max-width:1024px) {
	.clearfix {
		height: 29px
	}
	.loginform form div input {
		width: 63%
	}
	.loginform form div button {
		padding-left: 7%;
		padding-right: 7%
	}
	.wrap {
		padding-top: 9%
	}
	.forgotpwd a p {
		padding-left: 19%
	}
}

@media ( max-width :319px) {
	.logo img {
		width: 65%
	}
	.loginform form div input {
		width: 83%
	}
	.loginform form div button {
		padding-left: 7%;
		padding-right: 7%
	}
	.wrap {
		padding-top: 15%;
		width: 75%
	}
	.forgotpwd a p {
		margin-left: 0;
		font-size: 15px;
		text-align: left;
		padding-left: 9%
	}
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
}

@media only screen and (min-device-width:768px) and
	(max-device-width:1024px) and (orientation:portrait) {
	.logo img {
		width: 63%
	}
	.loginform form div input {
		width: 45%
	}
	.loginform form div {
		margin-bottom: 3%
	}
	.forgotpwd a p {
		padding-left: 27%
	}
	.wrap {
		height: 411px
	}
	.loginform form div button {
		margin-bottom: 1%
	}
}

@media only screen and (min-device-width:768px) and
	(max-device-width:1024px) and (orientation:landscape) {
	.wrap {
		height: 427px
	}
	.logo img {
		width: 63%
	}
	.loginform form div input {
		width: 45%
	}
	.loginform form div {
		margin-bottom: 3%
	}
	.forgotpwd a p {
		padding-left: 27%
	}
	.loginform form div button {
		margin-bottom: 1%
	}
}

@media ( min-width :800px) and (max-width:991px) {
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
}

@media ( min-width :992px) and (max-width:1024px) {
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
}

@media ( min-width :1025px) and (max-width:1270px) {
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
}

@media ( min-width :1271px) and (max-width:1365px) {
	.clearfix {
		height: 93px
	}
	.loginform form div button {
		margin-bottom: 1%;
		font-size: 15px
	}
	.wrap {
		height: 460px
	}
}

@media ( min-width :1366px) and (max-width:1599px) {
	.clearfix {
		height: 115px
	}
}

@media ( min-width :1910px) {
	.clearfix {
		height: 229px
	}
}